(dp1
S'pippipsourcefolder'
p2
V
sS'screenshotsubsectionleft'
p3
V0
sS'annotateposition'
p4
VBottom
p5
sS'screenshotsubsection'
p6
I00
sS'screenshotsavefolder'
p7
VC:\u005cUsers\u005cRodri\u005cDesktop.gmx\u005cTemporal Folder of Everything\u005cWork\u005cGame Jams\u005cLudum Dare 33.5 [Pik & Pok]\u005cTimelapse\u005cScreen
p8
sS'fontstyle'
p9
S'normal'
p10
sS'webcamsavefolder'
p11
VC:\u005cUsers\u005cRodri\u005cDesktop.gmx\u005cTemporal Folder of Everything\u005cWork\u005cGame Jams\u005cLudum Dare 33.5 [Pik & Pok]\u005cTimelapse\u005cWebcam
p12
sS'usescreenshot'
p13
I01
sS'lastupdate'
p14
S'2015-08-23'
p15
sS'fontname'
p16
VArial
p17
sS'resizesourcefolder'
p18
V
sS'pipsize'
p19
VSmall
p20
sS'screenshottimestamp'
p21
I01
sS'fontfamily'
p22
S'roman'
p23
sS'pipoutputfolder'
p24
V
sS'resizeheight'
p25
V600
p26
sS'videocodec'
p27
Vwmv2
p28
sS'mencoderpath'
p29
VC:\u005cUsers\u005cPublic\u005cDocuments\u005cLudum Dare #32\u005cTimelapse\u005cChronolapse\u005cchronolapse-exe-win_1.0.7\u005cchronolapse-exe-win_1.0.7\u005cmencoder.exe
p30
sS'annotatetimed'
p31
I01
sS'screenshotsubsectionheight'
p32
V600
p33
sS'fontsize'
p34
I14
sS'resizewidth'
p35
V800
p36
sS'pippipfolder'
p37
S''
sS'webcamtimestamp'
p38
I01
sS'usewebcam'
p39
I01
sS'webcamresolution'
p40
V800, 600
p41
sS'pipposition'
p42
VTop-Right
p43
sS'annotateoutputfolder'
p44
V
sS'screenshotformat'
p45
Vjpg
p46
sS'screenshotsubsectiontop'
p47
V0
sS'screenshotprefix'
p48
Vscreen_
p49
sS'fontweight'
p50
g10
sS'videosourcefolder'
p51
S''
sS'webcamprefix'
p52
Vcam_
p53
sS'fontunderline'
p54
I00
sS'forcecaptureframes'
p55
V1
sS'frequency'
p56
V60
p57
sS'screenshotsubsectionwidth'
p58
V800
p59
sS'videoformat'
p60
Vmpeg
p61
sS'audiosource'
p62
V
sS'screenshotdualmonitor'
p63
I00
sS'resizeoutputfolder'
p64
V
sS'audiosourcevideo'
p65
V
sS'audiooutputfolder'
p66
V
sS'fontcolor'
p67
I12632256
sS'annotateconstant'
p68
I00
sS'annotatefadein'
p69
I01
sS'annotateduration'
p70
V5
sS'annotatefadeout'
p71
I01
sS'pipmainfolder'
p72
S''
sS'videoframerate'
p73
V10
p74
sS'annotatesourcefolder'
p75
V
sS'pipmainsourcefolder'
p76
V
sS'pipignoreunmatched'
p77
I01
sS'annotateopacity'
p78
I100
sS'rotateangle'
p79
V0
sS'webcamformat'
p80
Vjpg
p81
sS'videooutputfolder'
p82
S''
s.